// 版权 -
.copy
    p
        | © 2014 Template. More Templates
        a(href='http://www.cssmoban.com/', target='_blank', title='模板之家') 模板之家 -
        |        Collect from
        a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') 网页模板
    p
        | 网页修改由
        a(href='http://www.yangzhizhuang.com/', target='_blank', title='杨志庄') 杨志庄
        | 完成