// 页尾 -
.footer
    .wrap
        .footer-left
            // 标题 -
            h3 关于 软153级队
            // 内容 可多p段 -
            p 被部分内容尚未编写
            .detail
                ul
                    li
                        a(href='#') 回到页面顶部
                    .clear
            //.soc_icons.soc_icons1
            //    ul
            //        li
            //            a.icon1(href='#')
            //        li
            //            a.icon2(href='#')
            //        li
            //            a.icon3(href='#')
            //        .clear
        .footer-right
            h3 微信公众平台
            .comments1
                p 欢迎关注微信公众平台
                p “大工软软153”
                p 微信号：ssdut153
            .comments1
                p 大工软院153
                p 你的软院生活小帮手~
        .clear