.header_bg
    .wrap
        .header
            .logo
                a(href='index.html')
                    // 左上角图表
                    img(src='images/lg.png',id='img-logo' alt='')
                    // 左上角标题
                    h1 SSDUT153
                    .clear
            .text(style='padding: 1.5%;')
                // 右上角标语
                div
            .clear