.header_bg
    .wrap
        .header
            .logo
                a(href='index.html')
                    // 左上角图表
                    img(src='images/lg.png', style='width:40px;height:40px;', alt='')
                    // 左上角标题
                    h1 SSDUT153
                    .clear
            .text
                // 右上角标语
                p 软件，联通你我 —— 大连理工大学 软153级队
            .clear