meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
link(href='css/style.css', rel='stylesheet')
link(rel='stylesheet', href='css/magnific-popup.css')
// ---768px-menu---
link(rel='stylesheet', href='css/jquery.mmenu.all.css')
// ---//768px-menu---
link(rel='stylesheet', href='css/styles.css')