.header_btm
    .wrap
        // ----start-768px-menu--
        #page
            #header
                a.navicon(href='#menu-left')
            nav#menu-left
                ul
                    li.active
                        a(href='index.html') 主页
                    li
                        a(href='about.html') 关于我们
                    li
                        a(href='services.html') 相册
                    //li
                        a(href='pages.html') 文章
                    li
                        a(href='blog.html') 文章
                    li
                        a(href='contact.html') 联系我们
                    li
                        a(href='http://gaokao.ssdut.cn/index.html', target='_blank') 高考加油
                    li
                        a(href='http://caomai.ssdut.cn/index.html', target='_blank') 曹迈来啦
                    li
                        a(href='https://github.com/ssdut153', target='_blank') ssdut153 on Github
        // ----start-768px-menu--
        .header_sub
            .h_menu
                ul
                    li.active
                        a(href='index.html') 主页
                    li
                        a(href='about.html') 关于我们
                    li
                        a(href='services.html') 相册
                    //li
                        a(href='pages.html') 文章
                    li
                        a(href='blog.html') 文章
                    li
                        a(href='contact.html') 联系我们
                    li
                        a(href='http://gaokao.ssdut.cn/index.html', target='_blank') 高考加油
                    li
                        a(href='http://caomai.ssdut.cn/index.html', target='_blank') 曹迈来啦
                    li
                        a(href='https://github.com/ssdut153', target='_blank') ssdut153 on Github
            .h_search
                form
                    input#bdcsMain(type='text', value='', placeholder='请输入搜索关键字...')
                    input(type='submit', value='')
            .clear