doctype html
html
    head
        block head
        title 大连理工大学软153级队 | #{title}
        include head.pug
    body
        // start header
        include header_bg.pug
        // start header
        include header_btm.pug
        block content
        include footer.pug
        include copy.pug
        include js.pug
        block foot-js
        include plugins.pug