#move-top.banner
    // --start-image-slider--
    #home.img-slider(data-scroll-reveal='enter bottom but wait 0.7s')
        .wrap
            .slider
                ul#jquery-demo
                    li
                        a(href='#slide1')
                        .slider-detils(data-scroll-reveal='enter bottom but wait 0.7s')
                            // 大标题
                            h3 软件 —— 追溯过去
                            // 小标题
                            span 再小的细节也能明察秋毫
                    li
                        a(href='#slide2')
                        .slider-detils(data-scroll-reveal='enter bottom but wait 1s')
                            h3 软件 —— 着手现在
                            span 每一个字符都意味着成功
                    li
                        a(href='#slide3')
                        .slider-detils(data-scroll-reveal='enter bottom but wait 1.5s')
                            h3 软件 —— 放眼未来
                            span 你的未来由你决定
    .clear