.last_posts
    // start last_posts
    .wrap
        h5.heading 近期发表
        .l-grids
            .l-grid-1
                .desc
                    // 标题 -
                    h3 为学弟学妹录视频啦
                    // 时间 -
                    span 2016/6/5
                    // 内容 -
                    p
                        br
                        | 为学弟学妹录视频啦！快来报名！详情戳下面
                    p
                        a(href='http://mp.weixin.qq.com/s?__biz=MzI2MTEwMzQ4MQ==&mid=512986823&idx=1&sn=aa10bc58fbee2e914040a2cd03787f9f#rd', target='_blank') 点击这里看详情
                // 图片 -
                img(src='images/im1.jpg')
                .clear
            .l-grid-1.l-grid-2
                .desc
                    h3 级队微信平台可以查成绩啦
                    span 2016/6/5
                    p
                        br
                        | 加权平均分排名查询，单科排名查询，各种酷炫功能等你发现！详情戳下面
                    p
                        a(href='http://mp.weixin.qq.com/s?__biz=MzI2MTEwMzQ4MQ==&mid=512986751&idx=1&sn=c3185ca01fe4d1cd4c44dabdbf24b788#rd', target='_blank') 点击这里看详情
                img(src='images/im.jpg')
                .clear
            .clear