.Recent-wroks
    // start services
    .wrap
        .Recent-wrok
            // 主标题 -
            h5.heading 级队委
            // --start-img-cursual--
            #owl-demo.owl-carousel
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/01.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        // 图片 -
                        img(src='images/01.jpg')
                    .cau_left
                        // 标题 -
                        h4
                            a(href='#') 级队长：杨森
                        // 内容 -
                        p
                            | 大家对我的第一印象，大概就是黑胖。好吧，其实这都是暑假驾校的过……至于胖……我只是瘦的不明显(捂脸哭)
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/02.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/02.jpg')
                    .cau_left
                        h4
                            a(href='#') 团总书：翁倩冉
                        p
                            | 我有点小懒，有点小贪吃，有点小自恋，有点小爱睡，有点小爱秀恩爱。我是一个很自由奔放随意的女生，对一切有充满热情，乐观面对一切……
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/03.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/03.jpg')
                    .cau_left
                        h4
                            a(href='#') 副级队长：孙靖铠
                        p
                            | 最大的爱好就是女的，因为我是男的。
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/04.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/04.jpg')
                    .cau_left
                        h4
                            a(href='#') 文艺委员：岳李梦溪
                        p
                            | 平日里我喜欢唱唱歌，听听好听的音乐放松一下自己，有时候也会打一打羽毛球，有志同道合的朋友可以一起啊~
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/5.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/5.jpg')
                    .cau_left
                        h4
                            a(href='#') 体育委员：周洪利
                        p
                            | 从小有个想做奥运冠军的梦想，现实给了我一嘴巴子让我消停上了大学。以高水平运动员的身份考上了大工！
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/6.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/6.jpg')
                    .cau_left
                        h4
                            a(href='#') 学习委员：杨志庄
                        p
                            | 更多详细信息请访问
                            a(href='http://www.yangzhizhuang.net/me/', target='_blank')  Http://www.yangzhizhuang.net/me/
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/7.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/7.jpg')
                    .cau_left
                        h4
                            a(href='#') 心理委员：刘雨欣
                        p
                            | Please call me brother xin，身为级队的心委，尤其是智商担当，我会给整个153带来满满的正能量的，trust me ！
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/8.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/8.jpg')
                    .cau_left
                        h4
                            a(href='#') 组织委员：胡正超
                        p
                            | 与其叫我名字，我更喜欢大家叫我胡萝卜！山东大老爷们，但声明一点，我不是学霸！至于身高体重，保密！！
                .item
                    .cau_left
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/9.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover
                        img(src='images/9.jpg')
                    .cau_left
                        h4
                            a(href='#') 宣传委员：姚宁
                        p
                            | 他是阳光帅气的"老鲜肉"，他还有一颗少男心，忠诚真诚善良是他的信条；当然这个少年也会有不开心，请你不要吝惜你的肩膀哦~
            // --End-img-cursual--
