.testimonial
    // start testimonial
    .wrap
        h5.heading 公告
        .test-grids
            .test-desc
                // 标题 -
                h3 公告标题
                // 内容 可多p段 -
                p 本部分内容尚未确定
            .img_1
                // 图片 不建议修改 -
                img(src='images/avator.png')
            .clear