extends includes/layout.pug

block title
    title 大连理工大学软153级队 | 关于我们

block head

block content
    // --start-content-
    .content_1
        .wrap
            .about
                .about-top
                    .col.span_1_of_about
                        h3.heading About
                        .section.group
                            .grid_1_of_4.images_1_of_4
                                .image
                                    a(href='#')
                                        img(src='images/prs1.jpg')
                                h4
                                    a(href='#') Adrian Thomas
                                h6 6CEO&Founder
                                p
                                    | Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been
                            .grid_1_of_4.images_1_of_4
                                .image
                                    a(href='#')
                                        img(src='images/prs2.jpg')
                                h4
                                    a(href='#') Narate Ketram
                                h6 Creative Diector
                                p
                                    | Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been
                            .clear
                    .col.span_1_of_about1
                        h3.heading Recent Comments
                        ul.comments-custom.unstyled
                            li.comments-custom_li
                                .icon
                                .right-text
                                    a(href='#')
                                        h4.comments-custom_h Admin:
                                    .comments-custom_txt
                                        a(href='#', title='Go to this comment') Sed ut perspiciatis unde omnis iste...
                                    time May 05,2013
                                .clear
                            li.comments-custom_li
                                .icon
                                .right-text
                                    a(href='#')
                                        h4.comments-custom_h Admin:
                                    .comments-custom_txt
                                        a(href='#', title='Go to this comment') Sed ut perspiciatis unde omnis iste...
                                    time May 05,2013
                                .clear
                            li.comments-custom_li
                                .icon
                                .right-text
                                    a(href='#')
                                        h4.comments-custom_h Admin:
                                    .comments-custom_txt
                                        a(href='#', title='Go to this comment') Sed ut perspiciatis unde omnis iste...
                                    time May 05,2013
                                .clear
                    .clear
                .about-bottom
                    .about-topgrids
                        .about-topgrid1
                            h3.heading Who We Are
                            img(src='images/img.jpg', title='name')
                            h5 LOREM IPM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. PRAESENT VESTIBULUM.
                            p
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aeonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                            p
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aeonummy hendrerit mauris.Lorem ipsum dolor sit amet, consectetuer adipiscing
                    .about-histore
                        h3.heading History
                        .historey-lines
                            ul
                                li
                                    span 2011  -
                                li
                                    p
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aeonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                                .clear
                        .historey-lines
                            ul
                                li
                                    span 2012  -
                                li
                                    p
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aeonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                                .clear
                        .historey-lines
                            ul
                                li
                                    span 2013  -
                                li
                                    p
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aeonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                                .clear
                        .historey-lines
                            ul
                                li
                                    span 2014  -
                                li
                                    p
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aeonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                                .clear
                        .clear
                    .about-services
                        h3.heading Why Choose Us
                        .questions
                            h4
                                img(src='images/marker21.png', alt='')
                                |  What is Lorem Ipsum?
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        .questions
                            h4
                                img(src='images/marker21.png', alt='')
                                |  What is Lorem Ipsum?
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        .questions
                            h4
                                img(src='images/marker21.png', alt='')
                                |  What is Lorem Ipsum?
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    .clear
block foot