extends includes/layout.pug

block title
    title 大连理工大学软153级队 | 文章

block head

block content
    // --start-content-
    .blog
        .main
            .wrap
                .single-top
                    .wrapper_single
                        .wrapper_top
                            .grid_1.alpha
                                .date
                                    span
                                        | 22
                                    |                                Sep 2014
                            .content.span_2_of_single
                                h5.blog_title
                                    a(href='pages.html') Lorem ipsum is simply dummy text of the printing.
                                .content
                                    .span-1-of-1
                                        a(href='pages.html')
                                            img.m_img(src='images/sb1.jpg', alt='')
                                    .span-1-of-2
                                        p
                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                        p
                                            | 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                        a.arrow_btn(href='pages.html') Read More
                                    .clear
                                .links
                                    h3.comments
                                        | By
                                        a(href='pages.html')  Lorem Ipsum
                                    h3.comments
                                        a(href='#') 126comments
                                    h3.tags
                                        | Tags:
                                        a(href='#') Design
                                        | ,
                                        a(href='#') Creative
                                        | ,
                                        a(href='#') wordpress theme
                                    h3 Share
                                    h3
                                        .social_1
                                            ul
                                                li.icon1_t
                                                    a(href='#')
                                                        span
                                                li.icon2_f
                                                    a(href='#')
                                                        span
                                    .clear
                            .clear
                        .wrapper_top
                            .grid_1.alpha
                                .date
                                    span
                                        | 22
                                    |                                Sep 2014
                            .content.span_2_of_single
                                h5.blog_title
                                    a(href='pages.html') Lorem ipsum is simply dummy text of the printing.
                                .content
                                    .span-1-of-1
                                        a(href='pages.html')
                                            img.m_img(src='images/sb3.jpg', alt='')
                                    .span-1-of-2
                                        p
                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                        p
                                            | 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                        a.arrow_btn(href='pages.html') Read More
                                    .clear
                                .links
                                    h3.comments
                                        | By
                                        a(href='pages.html')  Lorem Ipsum
                                    h3.comments
                                        a(href='#') 126comments
                                    h3.tags
                                        | Tags:
                                        a(href='#') Design
                                        | ,
                                        a(href='#') Creative
                                        | ,
                                        a(href='#') wordpress theme
                                    h3 Share
                                    h3
                                        .social_1
                                            ul
                                                li.icon1_t
                                                    a(href='#')
                                                        span
                                                li.icon2_f
                                                    a(href='#')
                                                        span
                                    .clear
                            .clear
                        .wrapper_top
                            .grid_1.alpha
                                .date
                                    span
                                        | 22
                                    |                                Sep 2014
                            .content.span_2_of_single
                                h5.blog_title
                                    a(href='pages.html') Lorem ipsum is simply dummy text of the printing.
                                .content
                                    .span-1-of-1
                                        a(href='pages.html')
                                            img.m_img(src='images/sb4.jpg', alt='')
                                    .span-1-of-2
                                        p
                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                        p
                                            | 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                        a.arrow_btn(href='pages.html') Read More
                                    .clear
                                .links
                                    h3.comments
                                        | By
                                        a(href='pages.html')  Lorem Ipsum
                                    h3.comments
                                        a(href='#') 126comments
                                    h3.tags
                                        | Tags:
                                        a(href='#') Design
                                        | ,
                                        a(href='#') Creative
                                        | ,
                                        a(href='#') wordpress theme
                                    h3 Share
                                    h3
                                        .social_1
                                            ul
                                                li.icon1_t
                                                    a(href='#')
                                                        span
                                                li.icon2_f
                                                    a(href='#')
                                                        span
                                    .clear
                            .clear
                    .rsidebar.span_1_of_3
                        .search_box
                            form
                                input(type='text', value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}")
                                input(type='submit', value='')
                        .social_2
                            h4 Follow Us
                            ul
                                li.facebook
                                    a(href='#')
                                        span
                                li.twitter
                                    a(href='#')
                                        span
                                li.google
                                    a(href='#')
                                        span
                        .email_box
                            form
                                .email
                                    input(type='text', value='Enter Your e-mail', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Enter Your e-mail';}")
                                .button
                                    span
                                        input(type='submit', value='Subscribe')
                        .Categories
                            h4 Categories
                            ul.sidebar
                                .hover
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                                .hover
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                                .hover
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                                .hover
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                        .popularpost
                            h4 Popular Post
                            .image_b
                                a(href='#')
                                    img(src='images/sb5.jpg')
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            .link_1
                                p
                                    a(href='#') Sep 26,2013
                                a.arrow_btn.right(href='#') Read More
                                .clear
                        .recentpost
                            h4 Recent Post
                            ul.sidebar_1
                                li
                                    a(href='#') Lorem Ipsum is simply dummy
                                li
                                    a(href='#') Lorem Ipsum is simply dummy
                                li
                                    a(href='#') Lorem Ipsum is simply dummy
                                li
                                    a(href='#') Lorem Ipsum is simply dummy
                        .tags
                            h4 Tags
                            ul
                                li
                                    a(href='#') design
                                li
                                    a(href='#') development
                                li
                                    a(href='#') multipurpose
                                li
                                    a(href='#') seo
                                .clear
                    .clear
                .pages
                    ul
                        li.preview
                            a(href='#')
                                span
                        li
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a(href='#') 3
                        li
                            a(href='#') 4
                        li
                            a(href='#') 5
                        li
                            a(href='#') ....
                        li
                            a(href='#') 78
                        li.next
                            a(href='#')
                                span
                        .clear
block foot
