doctype html
html
    head
        title The Eracle Website Template | Home
        include includes/head.pug
    body
        include includes/header_bg.pug
        include includes/header_btm.pug
        // ------start-blog---------
        .blog
            .main
                .wrap
                    .single-top
                        .wrapper_single
                            .wrapper_top
                                .grid_1.alpha
                                    .date
                                        span
                                            | 22
                                        | 								Sep 2014
                                .content.span_2_of_single
                                    h5.blog_title
                                        a(href='bloginner.html') Lorem ipsum is simply dummy text of the printing.
                                    .links
                                        h3.comments
                                            | By
                                            a(href='bloginner.html')  Lorem Ipsum
                                        h3.comments
                                            a(href='#') 126comments
                                        h3.tags
                                            | Tags:
                                            a(href='#') Design
                                            | ,
                                            a(href='#') Creative
                                            | ,
                                            a(href='#') wordpress theme
                                        h3 Share
                                        h3
                                            .social_1
                                                ul
                                                    li.icon1_t
                                                        a(href='#')
                                                            span
                                                    li.icon2_f
                                                        a(href='#')
                                                            span
                                        .clear
                                    .content
                                        .span-1-of-1
                                            a(href='#')
                                                img.m_img(src='images/sb1.jpg', alt='')
                                        .span-1-of-2
                                            p
                                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                            p
                                                | 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.when an unknown printer took a galley of type and scramble.It has survived not only five centuries, but also the leap into electronic typesetting.
                                        .clear
                                    .para.para_2
                                        p
                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                        p
                                            | When unkown printer took a gallery,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                    h4.heading
                                        | There are many variations in Lorum ipsum available,but the majority has suffered alternation in some.
                                    .para.para_2
                                        p
                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .images_1
                                        a(href='#')
                                            img(src='images/sb6.jpg')
                                    .para
                                        p
                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                                    .para.para_2
                                        p
                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .para.para_1
                                        p
                                            | "  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                                    h6.text
                                        a(href='#') Lorem Ipsum
                                    h3.heading_1 Share With Youir Friends
                                    .share_icons
                                        a(href='#')
                                            img(src='images/share_icon1.png')
                                    .grid_2_page
                                        ul
                                            li.preview
                                                a(href='#')
                                                    span
                                            li
                                                a(href='#') Previous Post
                                            li
                                                a(href='#') Next Post
                                            li.next
                                                a(href='#')
                                                    span
                                            .clear
                                    .recentpost
                                        h4 Recent Post
                                        ul.sidebar_1
                                            li
                                                a(href='#')
                                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            li
                                                a(href='#')
                                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            li
                                                a(href='#')
                                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            li
                                                a(href='#')
                                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    .comments
                                        h4 3Comments
                                        .c_grid
                                            .person_1
                                                a(href='#')
                                                    span
                                            .desc
                                                .c_sub_grid
                                                    p
                                                        a(href='#') Lorem Ipsum,10 Jan 2013
                                                    h6
                                                        a(href='#') Reply
                                                    .clear
                                                .para
                                                    p
                                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                            .clear
                                        .c_grid
                                            .person_1
                                                a(href='#')
                                                    span
                                            .desc
                                                .c_sub_grid
                                                    p
                                                        a(href='#') Lorem Ipsum,10 Jan 2013
                                                    h6
                                                        a(href='#') Reply
                                                    .clear
                                                .para
                                                    p
                                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                            .clear
                                        .c_grid_1
                                            .person_1.plus
                                                a(href='#')
                                                    span
                                            .desc
                                                .c_sub_grid
                                                    p
                                                        a(href='#') Lorem Ipsum,10 Jan 2013
                                                    h6
                                                        a(href='#') Reply
                                                    .clear
                                                .para
                                                    p
                                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                            .clear
                                    .comments-area
                                        h4 Leave a Comment
                                        form(method='post', action='contact-post.html')
                                            p
                                                input(type='text', value='Name*', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Name*';}")
                                            p
                                                input(type='text', value='Email *', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Email *';}")
                                            .clear
                                            .text_area
                                                textarea(onfocus="if(this.value == 'Message*') this.value='';", onblur="if(this.value == '') this.value='Message*';") Message*
                                            div
                                                .sky_form
                                                    label.checkbox
                                                        input(type='checkbox', name='checkbox')
                                                        i Notify me of followup comments via e-mail
                                                .button.send_button
                                                    input(type='submit', value='Send')
                            .clear
                        .rsidebar.span_1_of_3
                            .search_box
                                form
                                    input(type='text', value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}")
                                    input(type='submit', value='')
                            .social_2
                                h4 Follow Us
                                ul
                                    li.facebook
                                        a(href='#')
                                            span
                                    li.twitter
                                        a(href='#')
                                            span
                                    li.google
                                        a(href='#')
                                            span
                            .email_box
                                form
                                    .email
                                        input(type='text', value='Enter Your e-mail', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Enter Your e-mail';}")
                                    .button
                                        span
                                            input(type='submit', value='Subscribe')
                            .Categories
                                h4 Categories
                                ul.sidebar
                                    .hover
                                        li
                                            a(href='#') Lorem Ipsum is simply dummy
                                    .hover
                                        li
                                            a(href='#') Lorem Ipsum is simply dummy
                                    .hover
                                        li
                                            a(href='#') Lorem Ipsum is simply dummy
                                    .hover
                                        li
                                            a(href='#') Lorem Ipsum is simply dummy
                            .popularpost
                                h4 Popular Post
                                .image_b
                                    a(href='#')
                                        img(src='images/sb5.jpg')
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                .link_1
                                    p
                                        a(href='#') Sep 26,2013
                                    a.arrow_btn.right(href='#') Read More
                                    .clear
                            .recentpost
                                h4 Recent Post
                                ul.sidebar_1
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                                    li
                                        a(href='#') Lorem Ipsum is simply dummy
                            .tags
                                h4 Tags
                                ul
                                    li
                                        a(href='#') design
                                    li
                                        a(href='#') development
                                    li
                                        a(href='#') seo
                                    .clear
                        .clear
        // ------//end-blog_inner---------
        include includes/footer.pug
        include includes/copy.pug
        include includes/js.pug
        include includes/bd.pug