extends includes/layout.pug

block head
    - var title = '相册'

block content
    .main
        .wrap
            .cont1.span_2_of_g1
                .section.group
                    .col_1_of_about-box.span_1_of_about-box
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/g11.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover1
                        img(src='images/g1.jpg', alt='')
                    .col_1_of_about-box.span_1_of_about-box
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/g22.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover1
                        img(src='images/g2.jpg', alt='')
                    .col_1_of_about-box.span_1_of_about-box
                        .nivo-lightbox-demo
                            p
                                a.nivo-lightbox-demo(href='images/g33.jpg', data-lightbox-gallery='gallery1')
                                    span.rollover1
                        img(src='images/g3.jpg', alt='')
                    .section.group
                        .col_1_of_about-box.span_1_of_about-box
                            .nivo-lightbox-demo
                                p
                                    a.nivo-lightbox-demo(href='images/g44.jpg', data-lightbox-gallery='gallery1')
                                        span.rollover1
                            img(src='images/g4.jpg', alt='')
                        .col_1_of_about-box.span_1_of_about-box
                            .nivo-lightbox-demo
                                p
                                    a.nivo-lightbox-demo(href='images/g55.jpg', data-lightbox-gallery='gallery1')
                                        span.rollover1
                            img(src='images/g5.jpg', alt='')
                        .col_1_of_about-box.span_1_of_about-box
                            .nivo-lightbox-demo
                                p
                                    a.nivo-lightbox-demo(href='images/g66.jpg', data-lightbox-gallery='gallery1')
                                        span.rollover1
                            img(src='images/g6.jpg', alt='')
                        .clear
                    .section.group
                        .col_1_of_about-box.span_1_of_about-box
                            .nivo-lightbox-demo
                                p
                                    a.nivo-lightbox-demo(href='images/g99.jpg', data-lightbox-gallery='gallery1')
                                        span.rollover1
                            img(src='images/g9.jpg', alt='')
                        .col_1_of_about-box.span_1_of_about-box
                            .nivo-lightbox-demo
                                p
                                    a.nivo-lightbox-demo(href='images/g77.jpg', data-lightbox-gallery='gallery1')
                                        span.rollover1
                            img(src='images/g7.jpg', alt='')
                        .col_1_of_about-box.span_1_of_about-box
                            .nivo-lightbox-demo
                                p
                                    a.nivo-lightbox-demo(href='images/g88.jpg', data-lightbox-gallery='gallery1')
                                        span.rollover1
                            img(src='images/g8.jpg', alt='')
                        .clear
block foot-js
    script(src='js/nivo-lightbox.min.js')
        script.
            $(document).ready(function () {
                $('.nivo-lightbox-demo a').nivoLightbox({effect: 'fade'});
            });